In [46]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
import talib
import matplotlib
import csv
from pandas_datareader import data
from datascience import *
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
%matplotlib inline

In [47]:
wine_data = pd.read_csv("WineQT.csv")

In [48]:
wine_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [49]:
wine_data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
Id                      0
dtype: int64

In [50]:
bins = (2, 6, 8)
names = ["bad", "good"]
wine_data["quality"] = pd.cut(wine_data["quality"], bins = bins, labels = names)
label_quality = LabelEncoder()

In [51]:
wine_data["quality"] = LabelEncoder().fit_transform(wine_data["quality"])

In [52]:
wine_data["Id"] = wine_data["Id"] * 0

In [53]:
wine_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,0,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0,0

In [54]:
wine_data["quality"].value_counts()

0    984
1    159
Name: quality, dtype: int64

In [55]:
X = wine_data.drop("quality", 1)
y = wine_data["quality"]

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 29)

In [57]:
scale = StandardScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)

In [60]:
mlp = MLPClassifier(hidden_layer_sizes=(11,10,9), max_iter=10000)
mlp.fit(X_train, y_train)
predictions = mlp.predict(X_test)

In [61]:
print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))

              precision    recall  f1-score   support

           0       0.92      0.93      0.92       243
           1       0.57      0.53      0.55        43

    accuracy                           0.87       286
   macro avg       0.75      0.73      0.74       286
weighted avg       0.87      0.87      0.87       286

[[226  17]
 [ 20  23]]